= context_menu "content", data_options: { controller: 'url-helper'} do
  = context_menu_item notebook_notes_path(notebook), 'New note', 'pen-to-square', data: { item: :new_note, turbo_method: :post }
  = context_menu_item notebook_new_folder_path(notebook), 'New folder', 'folder-plus', data: { item: :new_folder, turbo_frame: :new_notebook }
  = context_menu_item '#', 'Rename', 'pen', data: { item: :rename }
  = context_menu_item notebook_delete_path(notebook), 'Move to Trash', 'trash-can', data: { item: :delete_folder, turbo_method: :patch }
  - if note.present?
    = context_menu_item notebook_note_delete_path(notebook.outermost_parent, note), 'Move to Trash', 'trash-can', data: { item: :delete_note, turbo_method: :patch, action: 'click->url-helper#addCurrentUrl' }
