= context_menu "content" do
  = context_menu_item '#', 'New note', 'pen-to-square'
  = context_menu_item '#', 'New folder', 'folder-plus'
  = context_menu_item '#', 'Rename', 'pen'
  = context_menu_item '#', 'Delete', 'trash-can'
