- placeholder = @notebook.parent.present? ? 'Folder name' : 'Notebook name'
= form_with(model: @notebook, url: dynamic_action(@notebook), class: 'action-form') do |f|
  = f.label :name
  = f.text_field :name, placeholder: placeholder, autofocus: true, autocomplete: 'off'
  - if @notebook.errors[:name].any?
    %span.error
      = @notebook.errors.full_messages_for(:name).first

  = modal_actions do
    = action_button 'Cancel', '#', style: 'sub-action', data: { action: 'click->modal#toggle' }
    = f.submit 'Create', class: 'btn btn-normal'
