= action_button 'New notebook', new_notebook_path, style: 'normal', icon: 'plus', data: { turbo_frame: :new_notebook }
= turbo_frame_tag :new_notebook
%div{ data: { controller: 'context-menu' }}
  %span.sub-sidebar-section-title Notebooks
  #notebooks
    - notebooks.each do |notebook|
      = render 'notebooks/notebook', notebook: notebook
  = render 'notebooks/notebook_menu'
%div{ data: { controller: 'context-menu' }}
  - if @notebook
    .sub-sidebar-section-title
      %span Notebook Content
      = tooltip text: 'Add content', data: { action: 'click->context-menu#toggle', allow_items: ['new_note', 'new_folder'].to_json } do
        = fa_icon 'ellipsis'
    = render 'shared/local_search_bar', placeholder: 'Search notebook...'
    = turbo_frame_tag :notebook_content
    = render 'notebooks/content_menu'
