= action_button 'New notebook', new_notebook_path, style: 'normal', icon: 'plus', data: { turbo_frame: :new_notebook }
= turbo_frame_tag :new_notebook
%span.sub-sidebar-section-title Notebooks
#notebooks
  - notebooks.each do |notebook|
    = render 'notebook', notebook: notebook
.sub-sidebar-section-title 
  %span Notebook Content
  - if @notebook
    = tooltip 'Add, delete content, and more...' do
      = fa_icon 'ellipsis'
= turbo_frame_tag :notebook_content do
  - if @notebook
    = render 'shared/local_search_bar', placeholder: 'Search notebook...'


