= action_button 'New notebook', new_notebook_path, style: 'normal', icon: 'plus', data: { turbo_frame: :new_notebook }
= turbo_frame_tag :new_notebook
%div{ data: { controller: 'context-menu' }}
  %span.sub-sidebar-section-title Notebooks
  #notebooks
    - notebooks.each do |notebook|
      = notebook_item notebook
  = render 'notebooks/notebook_menu'
- if @notebook
  %div{ data: { controller: 'context-menu' }}
    = render 'notebooks/content_menu', notebook: @notebook, note: nil
    .sub-sidebar-section-title
      %span Notebook Content
      = tooltip_wrapper('Add content', allow_actions: ['new_note', 'new_folder', 'delete_folder'])
    = render 'shared/local_search_bar', placeholder: 'Search notebook...'
  = turbo_frame_tag :notebook_content, data: { turbo_permanent: true }
