.auth-container
  .auth-column
    = render 'shared/logo'
    %p.prompt
      We hash
      %span.highlight your password
    %p.prompt and hope nothing goes bad
    %p.prompt 2024 Inbox. All notes cherished
  .auth-column
    %h2 Create your account
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .auth-form
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'in@box.com'
        .field
          = f.label :username
          %br/
          = f.text_field :username, placeholder: 'Awesome username'
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password", placeholder: 'Super secret password'
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Super secret password'
          = f.submit "Create your account", class: 'primary-button'
        %p.auth-prompt
          Already have an account ?
          - if controller_name != 'sessions'
            = link_to "Sign in", new_session_path(resource_name)

