.auth-container{ style: "justify-content: center" }
  .auth-column{ style: "flex: 0" }
    %h2 Forgot your password?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      .field
        = f.label :email
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Your email'
        - if resource.errors[:email].any?
          %span.error
            = resource.errors.full_messages_for(:email).first
        = f.submit "Send me reset password instructions", class: 'primary-button' 
    %div{ style: 'display: flex; justify-content: center; gap: 0.8em; margin-top: 0.4em;' }
      = render "devise/shared/links"
