!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Inbox
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{content: "false", name: "turbo-prefetch"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
    = javascript_include_tag "jquery", "data-turbo-track": "reload"
    %script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/9255a9b9ab.js"}
  %body{data: { controller: 'application' }}
    = render "layouts/header"
    .container
      = render "layouts/main_sidebar"
      = render "layouts/sub_sidebar"
      = yield
